.grid-container > div {
    margin: 10px;
}

.grid-container {
    /* 改變指定元素的顯示方式 */
    display: grid;
    /* 指定有多少欄*/
    grid-template-columns: 50% 50%;
}


#DIV1 {
    width: 50%;
    height: 450px;
    background-color: #e2fdf0bb;
    float: left;
}

#DIV2 {
    width: 50%;
    height: 450px;
    background-color: #fffaf3;
    float: right;
}

.menusDiv{
    height: 350px;
    overflow-y: auto;
}

#app{
    height: 300px;
    overflow-y: auto;
}

#menus {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    margin: 0px 10px;
}

.btnright{
    position: absolute;
    right: 10px;
}

.item_header {
    display: flex;
    width: auto;
    margin: 0 auto;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    /*框框：圓弧*/
    padding-left: 30px;
    /*body 與外框距離*/
}

.item_header div {
    width: 200px;
    line-height: 50px;
}


/* <!-- 訂單紀錄 Modal --> */
    .orderSearchDiv {
        height: 430px;
        margin-left: auto;
        margin-right: auto;
    }

    .orderRespond {
        height: 300px;
        background-color: rgb(222, 222, 222);
    }

    .respondDiv {
        height: 240px;
        overflow-y: auto;
    }

    .myfoodDiv {
        height: 340px;
        overflow-y: auto;
    }

    .myfoodTable {
        width: 95%;
    }

    .myfoodBorder {
        border-bottom: 2px solid black;
    }

    .foodR {
        text-align: right;
    }